*{
    margin:0;
    padding:0;
}
.main{
    display: flex;
    height: 100%;
    width: 100vw;
    
}
.left-child{
    height: 100%;
    width: 40%;
    // border: 1px solid black;
    margin:2%;
    padding: 2%;
}
.left-child-top h1{
    font-size: 48;
    font-weight: bolder;
    margin:5%;
   
    
    
}
.left-child-top span{
    font-size: 18;

    
}
.form-card label{
    color:#718096;
    font-size: 12px;
}
.form-card{
    padding:3%;
    margin:5%;
}
.form-card input{
    width:60%;
    height:30px;
    border-radius: 15px;
    border: 1px solid  #718096;
    margin:3%;
    padding:1.2%;
    
}
.form-card button{
    height: 30px;
    width: 63%;
    background-color: #1C4532;
    color: #F7FAFC;
    border-radius:15px;
    cursor: pointer;
    margin-left: 3%;
    border: 0px;
    text-align:center;
    font-weight: 600;
    font-size:  18px;
    height: 40px;


}
.login-card{
    margin-left:3%;
    border-top: 1px solid #CBD5E0 ;

    
    
}
.login{
    
    text-align: center;
    border:1px solid #CBD5E0;
    height: 40px;
   
    text-align: center;
    border-radius: 30px;
    padding: 2px;
    width: 320px;
    color: #67728A;
}
.google img{
    size: 2px;
    float:left;
    margin: 10px;

    
}
.facebook img{
    size: 2px;
    float:left;
    margin: 10px;
    
}
.google{
    margin:10px;
   h2{
    size:10px;
   }
}

.facebook{
    margin:10px;
}
.left-child-top span{
    color:#718096;
    margin-left: 12%;
    a{
        text-decoration: underline;
        color: #1C4532;
        cursor: pointer;
    }

}
.right-child{

    height: 100%;
    width: 40%;
    border: 1px solid black;
    margin:2%;
    padding: 2%;
    background-image: url("./Assest/Rectangle\ 1.png"),url("./Assest/Ellipse\ 1.png") ;
    

}