*body{
    margin:0;
    padding:0;

}
.nav-main{
    height:6%;
    width:100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-self: center;
    

    
}
.nav-head {
    margin:10px;
    color:grey;

}
.nav-item{
    margin-right: 10px;
}
.nav-item ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    // margin: 10px;
    font-size: 200%;
 

}
.item-1{
    
    color: blue;
    margin:2%;


}
.item-2{
    color:blue;
    margin:2%;
}
.item-3{
    color:red;
    margin:2%;
}